@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "tw-animate-css";

@theme inline {
  --radius-sm: calc(var(--sl-radius) - 4px);
  --radius-md: calc(var(--sl-radius) - 2px);
  --radius-lg: var(--sl-radius);
  --radius-xl: calc(var(--sl-radius) + 4px);
  --color-background: var(--sl-background);
  --color-foreground: var(--sl-foreground);
  --color-card: var(--sl-card);
  --color-card-foreground: var(--sl-card-foreground);
  --color-popover: var(--sl-popover);
  --color-popover-foreground: var(--sl-popover-foreground);
  --color-primary: var(--sl-primary);
  --color-primary-foreground: var(--sl-primary-foreground);
  --color-secondary: var(--sl-secondary);
  --color-secondary-foreground: var(--sl-secondary-foreground);
  --color-muted: var(--sl-muted);
  --color-muted-foreground: var(--sl-muted-foreground);
  --color-accent: var(--sl-accent);
  --color-accent-foreground: var(--sl-accent-foreground);
  --color-destructive: var(--sl-destructive);
  --color-border: var(--sl-border);
  --color-input: var(--sl-input);
  --color-ring: var(--sl-ring);
  --color-chart-1: var(--sl-chart-1);
  --color-chart-2: var(--sl-chart-2);
  --color-chart-3: var(--sl-chart-3);
  --color-chart-4: var(--sl-chart-4);
  --color-chart-5: var(--sl-chart-5);
  --color-sidebar: var(--sl-sidebar);
  --color-sidebar-foreground: var(--sl-sidebar-foreground);
  --color-sidebar-primary: var(--sl-sidebar-primary);
  --color-sidebar-primary-foreground: var(--sl-sidebar-primary-foreground);
  --color-sidebar-accent: var(--sl-sidebar-accent);
  --color-sidebar-accent-foreground: var(--sl-sidebar-accent-foreground);
  --color-sidebar-border: var(--sl-sidebar-border);
  --color-sidebar-ring: var(--sl-sidebar-ring);
}

:root {
  --sl-radius: 0.625rem;
  --sl-background: oklch(1 0 0);
  --sl-foreground: oklch(0.145 0 0);
  --sl-card: oklch(1 0 0);
  --sl-card-foreground: oklch(0.145 0 0);
  --sl-popover: oklch(1 0 0);
  --sl-popover-foreground: oklch(0.145 0 0);
  --sl-primary: oklch(0.205 0 0);
  --sl-primary-foreground: oklch(0.985 0 0);
  --sl-secondary: oklch(0.97 0 0);
  --sl-secondary-foreground: oklch(0.205 0 0);
  --sl-muted: oklch(0.97 0 0);
  --sl-muted-foreground: oklch(0.556 0 0);
  --sl-accent: oklch(0.97 0 0);
  --sl-accent-foreground: oklch(0.205 0 0);
  --sl-destructive: oklch(0.577 0.245 27.325) /* #fff = #ffffff */;
  --sl-border: oklch(0.922 0 0);
  --sl-input: oklch(0.922 0 0);
  --sl-ring: oklch(0.708 0 0);
  --sl-chart-1: oklch(0.646 0.222 41.116);
  --sl-chart-2: oklch(0.6 0.118 184.704);
  --sl-chart-3: oklch(0.398 0.07 227.392);
  --sl-chart-4: oklch(0.828 0.189 84.429);
  --sl-chart-5: oklch(0.769 0.188 70.08);
  --sl-sidebar: oklch(0.985 0 0);
  --sl-sidebar-foreground: oklch(0.145 0 0);
  --sl-sidebar-primary: oklch(0.205 0 0);
  --sl-sidebar-primary-foreground: oklch(0.985 0 0);
  --sl-sidebar-accent: oklch(0.97 0 0);
  --sl-sidebar-accent-foreground: oklch(0.205 0 0);
  --sl-sidebar-border: oklch(0.922 0 0);
  --sl-sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --sl-background: oklch(0.145 0 0);
  --sl-foreground: oklch(0.985 0 0);
  --sl-card: oklch(0.205 0 0);
  --sl-card-foreground: oklch(0.985 0 0);
  --sl-popover: oklch(0.205 0 0);
  --sl-popover-foreground: oklch(0.985 0 0);
  --sl-primary: oklch(0.922 0 0);
  --sl-primary-foreground: oklch(0.205 0 0);
  --sl-secondary: oklch(0.269 0 0);
  --sl-secondary-foreground: oklch(0.985 0 0);
  --sl-muted: oklch(0.269 0 0);
  --sl-muted-foreground: oklch(0.708 0 0);
  --sl-accent: oklch(0.269 0 0);
  --sl-accent-foreground: oklch(0.985 0 0);
  --sl-destructive: oklch(0.704 0.191 22.216);
  --sl-border: oklch(1 0 0 / 10%);
  --sl-input: oklch(1 0 0 / 15%);
  --sl-ring: oklch(0.556 0 0);
  --sl-chart-1: oklch(0.488 0.243 264.376);
  --sl-chart-2: oklch(0.696 0.17 162.48);
  --sl-chart-3: oklch(0.769 0.188 70.08);
  --sl-chart-4: oklch(0.627 0.265 303.9);
  --sl-chart-5: oklch(0.645 0.246 16.439);
  --sl-sidebar: oklch(0.205 0 0);
  --sl-sidebar-foreground: oklch(0.985 0 0);
  --sl-sidebar-primary: oklch(0.488 0.243 264.376);
  --sl-sidebar-primary-foreground: oklch(0.985 0 0);
  --sl-sidebar-accent: oklch(0.269 0 0);
  --sl-sidebar-accent-foreground: oklch(0.985 0 0);
  --sl-sidebar-border: oklch(1 0 0 / 10%);
  --sl-sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
  }
}
